= render partial: 'shared/navbar/navbar', locals: { navbar_element: :my_trips}
.ui.two.column.page.grid
  .twelve.wide.column
    = render partial: 'list', locals: { trips: @trips }
  .four.wide.column
    = form_tag trips_path, class: 'ui vertical menu', method: :get do
      .header.item
        Filters
      = link_to 'All', trips_path(), class: 'item'
      = link_to 'Past', trips_path(past: true), class: 'item'
      = link_to 'Upcoming', trips_path(upcoming: true), class: 'item'
      .item
        .ui.action.input
          %input{ placeholder: 'Search destination', type: 'text', name: 'destination' }
          .ui.icon.button.submit
            %i.search.icon
